# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment
venv/

# Ignore local development server
.env

# Ignore database
db.sqlite3

# Ignore IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore editor backup files
*~
*.swp
*.swo

# Ignore macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Node.js dependencies
node_modules/